<!DOCTYPE HTML>
<html>
<head>
	<title>南設計</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <!--slick輪播-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css" />
    <!--easydropdown 下拉選單-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/easydropdown.css">    
    <!--Style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
</head>

<body>

<div class="detailContent">
<a href="javascript: void(0)" class="aaselectCollec R27"><span>選擇商品</span></a>
<a href="javascript: void(0)" class="aacarBox R27"><span>購買商品</span></a>
<div class="aacarBoxShow"><span>09</span><span>您已經將商品加入購物清單</span></div>


	<a href="../../index.html" class="aacloseX">close</a>
    <div class="productBox">
    	 <div id="Arrow02"><!--套件slick 不同樣式的箭頭-->
            <button class="slick-prev"></button>
            <button class="slick-next"></button>
        </div>
    	<div class="productSmall">
            <div><img src="../../uploads/pro-s01.jpg" /></div><!--小圖85x77-->
            <div><img src="../../uploads/pro-s02.jpg" /></div>
            <div><img src="../../uploads/pro-s03.jpg" /></div>
            <div><img src="../../uploads/pro-s01.jpg" /></div>
        </div>
        <div class="productBig">
       
            <div><img src="../../uploads/pro-shose.jpg" /></div><!--大圖262x400-->
            <div><img src="../../uploads/pro-shose01.jpg" /></div>
            <div><img src="../../uploads/pro-shose.jpg"/></div>
            <div><img src="../../uploads/pro-shose01.jpg" /></div>
        </div>
        <div style="margin:0 auto ; width:90%; text-align:center; padding:30px 0">
        <a href="javascript: void(0)" class="aaselectCollec01"><span>選擇商品</span></a>
		<a href="javascript: void(0)" class="aacarBox01"><span>購買商品</span></a>
        </div>
	</div>
    
    <a href="#contentDetail" class="aaHR"></a>
    
  <section class="contentDetail" id="contentDetail">
    	<h6>阿美族枕 Product Name</h6>
        <p>高耀男的個人設計風格與品牌形象充滿特色，並以限量方式在網路限量販售，經常發生網路塞爆，搶購預約單號的現象，以限量發行打造個人品牌魅力的行銷手法，獲得廣大好評，尤其年輕人相當喜愛，每批限量產品一上市後，總在很短的時間內搶購一空，也造成供不應求的現象。</p>
        <a href="avascript: void(0)">更多詳細資訊</a>
    </section>
    
  <a href="#ProList-Detail" class="aaHR"></a>
	
  <section class="ProList-Detail" id="ProList-Detail">
    <ul class="productList">
        <li>
            <div class="inner">
                <div class="img"><a href="detail.html"><img src="../../uploads/pro01.jpg" /></a></div><!--圖檔230285-->
                <div class="txt">
                    <h5><a href="detail.html">阿美族枕 Product Name</a></h5>
                    <p><a href="detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                    <a href="detail.html">+</a>
                </div>
            </div>
        </li>
        <li>
            <div class="inner">
                <div class="img"><a href="detail.html"><img src="../../uploads/pro02.jpg" /></a></div><!--圖檔230285-->
                <div class="txt">
                    <h5><a href="detail.html">阿美族枕 Product Name</a></h5>
                    <p><a href="detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                    <a href="detail.html">+</a>
                </div>
            </div>
        </li>
        <li>
            <div class="inner">
                <div class="img"><a href="detail.html"><img src="../../uploads/pro03.jpg" /></a></div><!--圖檔230285-->
                <div class="txt">
                    <h5><a href="detail.html">阿美族枕 Product Name</a></h5>
                    <p><a href="detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                    <a href="detail.html">+</a>
                </div>
            </div>
        </li>
        <li>
            <div class="inner">
                <div class="img"><a href="detail.html"><img src="../../uploads/pro04.jpg" /></a></div><!--圖檔230285-->
                <div class="txt">
                    <h5><a href="detail.html">阿美族枕 Product Name</a></h5>
                    <p><a href="detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                    <a href="detail.html">+</a>
                </div>
            </div>
        </li>
    </ul>
    <a href="javascript: void(0)" class="aaloadMore"><i></i>載入更多商品<span>load more data</span></a>
	</section>
</div>

<div class="selectSide">
	<a href="javascript: void(0)" class="aacloseX">close</a>
    <div class="selectBox">
    	<div class="tit">
        	<h6>SELECT<span>Collection</span></h6>
            <p>Please choose your favorite product category</p>
        </div>
        
        <div class="searchBox">
        	<input type="text" placeholder="Search..." class="searchCube" />
            <a href="javascript: void(0)"></a>
        </div>
        
        <div class="seleContent" >
            <ul class="accordionPart">
                <li>
                    <div class="sele_title">All ITEAM<span>所有商品</span></div>
                    <div class="sele_content">
                        <a href="">鞋子所有商品1</a>
                        <a href="">包包所有商品1</a>
                        <a href="">運動毛巾所有商品1</a>
                        <a href="">手機殼所有商品1</a>
                    </div>
                </li>
                <li>
                    <div class="sele_title">SHOES<span>鞋子</span></div>
                    <div class="sele_content">
                        <a href="">鞋子1</a>
                        <a href="">鞋子2</a>
                        <a href="">鞋子3</a>
                        <a href="">鞋子4</a>
                    </div>
                </li>
                <li>
                    <div class="sele_title">BAGS<span>包包</span></div>
                    <div class="sele_content">
                        <a href="">包包1</a>
                        <a href="">包包2</a>
                        <a href="">包包3</a>
                        <a href="">包包4</a>
                    </div>
                </li>
                <li>
                    <div class="sele_title">SPORTS TOWEL<span>運動毛巾</span></div>
                    <div class="sele_content">
                        <a href="">運動毛巾01</a>
                        <a href="">運動毛巾02</a>
                        <a href="">運動毛巾03</a>
                        <a href="">運動毛巾04</a>
                    </div>
                </li>
                <li>
                    <div class="sele_title">PHONE CASE<span>手機殼</span></div>
                    <div class="sele_content">
                        <a href="">手機殼01</a>
                        <a href="">手機殼02</a>
                        <a href="">手機殼03</a>
                        <a href="">手機殼04</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="aacarSide">
	<a href="javascript: void(0)" class="aacloseX">close</a>
	<p>您已經將商品加入購物清單</p>
	<div>10</div>
</div>
<!--主要的jQuery-->
<script src="../../assets/js/vendor/jquery-1.11.3.min.js"></script>
<!--slick輪播-->
<script src="../../assets/js/vendor/slick/slick.js"></script>
<!--waypoints-->
<script src="../../assets/js/vendor/waypoints.min.js"></script>
<!--easydropdown 下拉選單-->
<script src="../../assets/js/vendor/jquery.easydropdown.min.js"></script>
<!--main-->
<script src="../../assets/js/main.js" /></script>

</body>
</html>
