<!DOCTYPE HTML>
<html>
<head>
	<title>南設計</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <!--slick輪播-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css" />
    <!--easydropdown 下拉選單-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/easydropdown.css">
    <!--Style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
</head>

<body>
<section class="about">
	<a href="../../index.html" class="aacloseX">close</a>
    <a href="#top" class="aaGoTop" style="color:#FFF;">←&nbsp;&nbsp;PAGE TOP</a>
   	<div class="tit">	
    	<h3>I’m Mr. Nam</h3>
        <span>原住民藝術工作者 X 藝術類駐村藝術家</span>
    </div>
    <hr>
    
    	<div class="part01">
            <div class="inner">
                <img src="../../assets/img/about-pic.jpg" />
                <hr class="short">
                <h5>高耀南<span>連續3年獲選原住民文化園區的駐村藝術家</span></h5>
                <hr class="long">
                <p>高耀男設計師，本身的創作魅力已擁有固定的消費粉絲與擁護者，高耀男來自原藝世家，其母親曾春子是擅長絹印的工藝師，承自母親對於原住民傳統圖騰的熱愛，他將各族群的圖騰加以變化，利用電腦重新排版、設計，並這些圖形授權廠商，製作出iphone手機殼、音箱蓋，成為富有族群色彩又別具創意的流行潮牌商品。</p>
                <p>高耀男設計師，本身為原住民藝術工作者，連續3年獲選原住民文化園區的駐村藝術家，榮獲「第三屆原住民族工藝師甄選及工藝精品認證」、「第四屆原住民藝術工作者藝術類駐村藝術家」。</p>
                <p>高耀男的個人設計風格與品牌形象充滿特色，並以限量方式在網路限量販售，經常發生網路塞爆，搶購預約單號的現象，以限量發行打造個人品牌魅力的行銷手法，獲得廣大好評，尤其年輕人相當喜愛每批限量產品一上市後，總在很短的時間內搶購一空，也造成供不應求的現象。</p>
            </div>  
            <a href="#part02" class="aaAboutDown">↓</a> 
    	</div>
       
        <div class="part02" id="part02">
         
            <div class="inner">
              <hr class="short">
              <h5>LOGO設計概念<span>勿忘記祖靈的呼喚，勿忘記原鄉的傳統文化。</span></h5>
              <hr class="long">
              <p>「南」背景的菱形紋與圓形紋象徵著菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力圓形紋代表阿美族豐收:阿美族豐年祭的帶動舞蹈，像圓圈般團結的舞形。</p>
              <p>在自然環境中成長的高耀男原民設計師自幼擁有驚人的美術天份，總是在大自然中獲得豐沛的創作靈感。<br>就在一次的臺東無人山區中，隨著山區地形，時而平路健走，時而無路前進，時而需要披荊斬棘才能繼續前進，歷經數小時的攀登過程，拖著疲累不堪的身軀，氣喘吁吁的靠立在山岩邊，眼前忽然出現了從未見過的山區美景，對於自小在山區部落長大的高耀男來說，這美景是他從來沒有看過的，睜大著雙眼靜靜向四周環視，身旁吹來陣陣徐徐微風，當望向「南方」時，這實在美麗的臺灣風景，瞬間使高耀男不禁淚濕臉頰。<br>當時已分不清是因為疲累過度，還是歷經剛當兵回來不知何去何從的迷惘，這獨特的山中美景，始終刻印在心頭上，也記錄下的當時的座標。</p>
              <ul class="aboutList">
                 <li>LONGITUDE<span>121.034263</span></li>
                 <li>LATITUDE<span>23.292908</span></li>
                 <li><img src="../../assets/img/icon-about.png" /></li>
                 <li>天使的眼淚-嘉明湖</li>
               </ul>
               <div class="aboutLogo"><img src="../../assets/img/about-logo.png" /></div>
           </div>
       </div>
      
</section>

<!--主要的jQuery-->
<script src="../../assets/js/vendor/jquery-1.11.3.min.js"></script>
<!--slick輪播-->
<script src="../../assets/js/vendor/slick/slick.js"></script>
<!--waypoints-->
<script src="../../assets/js/vendor/waypoints.min.js"></script>
<!--easydropdown 下拉選單-->
<script src="../../assets/js/vendor/jquery.easydropdown.min.js"></script>
<!--main-->
<script src="../../assets/js/main.js" /></script>
</body>
</html>
