<!DOCTYPE HTML>
<html>
<head>
	<title>南設計</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <!--slick輪播-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css" />
    <!--easydropdown 下拉選單-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/easydropdown.css">
    <!--Style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
</head>

<body>
<section class="contactSide">
	<a href="index.html" class="aacloseX">close</a>
    <div class="inner">
        <div class="orderSummary">
            <div class="contactTit">
                <h3>ORDER SUMMARY</h3>
                <p>My shopping bag -following is a list of my favorite articles</p>
            </div>
            <hr>
            <ul class="orderList">
                <li>
                    <div  class="img"><a href="javascript: void(0)"><img src="../../uploads/order01.jpg" /></a></div>
                    <div class="tit"><a href="javascript: void(0)">阿美族枕 Product Name</a></div>
                    <div class="cont"><a href="javascript: void(0)">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力...</a></div>
                    <a href="javascript: void(0)">REMOVE</a>
                </li>
                <li>
                    <div  class="img"><a href="javascript: void(0)"><img src="../../uploads/order02.jpg" /></a></div>
                    <div class="tit"><a href="javascript: void(0)">阿美族枕 Product Name</a></div>
                    <div class="cont"><a href="javascript: void(0)">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力...</a></div>
                    <a href="javascript: void(0)">REMOVE</a>
                </li>
                <li>
                    <div  class="img"><a href="javascript: void(0)"><img src="../../uploads/order01.jpg" /></a></div>
                    <div class="tit"><a href="javascript: void(0)">阿美族枕 Product Name</a></div>
                    <div class="cont"><a href="javascript: void(0)">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力...</a></div>
                    <a href="javascript: void(0)">REMOVE</a>
                </li>
                <li>
                    <div  class="img"><a href="javascript: void(0)"><img src="../../uploads/order02.jpg" /></a></div>
                    <div class="tit"><a href="javascript: void(0)">阿美族枕 Product Name</a></div>
                    <div class="cont"><a href="javascript: void(0)">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力...</a></div>
                    <a href="javascript: void(0)">REMOVE</a>
                </li>
            </ul>
            <a href="#contactForm" class="aascrollDown">After confirming please to fill in the information below</a>
		</div>
	</div>
    
    <div class="contactForm" id="contactForm">
        <div class="inner">
            <div class="contactTit">
                <h3>HOW CAN I HELP YOU ?</h3>
                <p>If you have any questions ,please fill in the form belowand we will contact you soon.</p>
            </div>
            <hr>
            
            <ul class="contactList">
            	<li>
					<label>Full Name</label>
                    <span><input type="text" placeholder="ex:John Chang" class="contactHold"></span>
                </li>
                <li>
					<label>E-Mail</label>
                    <span><input type="text" placeholder="ex:abc123456789@gmail.com" class="contactHold"></span>
                </li>
                <li>
					<label>Phone</label>
                    <span><input type="text" placeholder="ex:0987-654321" class="contactHold"></span>
                </li>
                <li>
					<label>TEL</label>
                    <span><input type="text" placeholder="ex:04-1234567" class="contactHold"></span>
                </li>
                <li>
					<label>FAX</label>
                    <span><input type="text"  placeholder="ex:04-1234567" class="contactHold"></span>
                </li>
                <li>
					<label class="message">Message</label>
                    <span><textarea placeholder="Enter your message" class="contactHold01"></textarea></span>
                </li>
                <li>
					<label>Security Code</label>
                    <span><input type="text"  placeholder="Enter Security Code" class="contactHold"></span>
                </li>
            </ul>
            <div class="contBtn">
            	<a href="#2">SEND</a>
                <a href="#2">RESET</a>
            </div>
        </div>
    </div>
</section>

<!--主要的jQuery-->
<script src="../../assets/js/vendor/jquery-1.11.3.min.js"></script>
<!--slick輪播-->
<script src="../../assets/js/vendor/slick/slick.js"></script>
<!--waypoints-->
<script src="../../assets/js/vendor/waypoints.min.js"></script>
<!--easydropdown 下拉選單-->
<script src="../../assets/js/vendor/jquery.easydropdown.min.js"></script>
<!--main-->
<script src="../../assets/js/main.js" /></script>
</body>
</html>
