<!DOCTYPE HTML>
<html>
<head>
	<title>南設計</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <!--slick輪播-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css" />
    <!--easydropdown 下拉選單-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/easydropdown.css">
    <!--Style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
</head>

<body>
<div class="wrapperH100">
	<div class="innerIND">
    	<header class="menu-small">
            <div class="logo"><a href="index.html" /><img src="../../assets/img/logo01.png" /></a></div>
            <div class="car">
            	<a href="contact.html">
                    <span>08</span>
                    <span>CART</span>
                </a>
            </div>
            <div class="menuBtn" id="menuBtn">
            	<a href="javascript: void(0)">
                	<span></span>
                    <span></span>
                    <span></span>
                </a>
                <span>MENU</span>
            </div>
            <div class="menuBtn01" id="menuBtn-s">
            	<a href="javascript: void(0)">
                	<span></span>
                    <span></span>
                    <span></span>
                </a>
                <span>MENU</span>
            </div>
        </header>
        <header class="menu bk">
            <div class="logo"><a href="index.html" /><img src="../../assets/img/logo.png" /></a></div>
            <div class="menuList">
                <a href="../collection/index.html">Collection</a>
                <a href="../news/index.html">Hot News</a>
                <a href="about.html">Mr.Nan</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="car">
            	<a href="contact.html">
                    <span>08</span>
                    <span>CART</span>
                </a>
            </div>
            <div class="socialLink">
                <a href="javascript: void(0)"><img src="../../assets/img/icon-FB.png"></a>
                <a href="javascript: void(0)"><img src="../../assets/img/icon-twitter.png"></a>
            </div>
        </header>    
	</div>  
    
    <div class="bannerIND">
    	<div class="xsBGshow" data-small="../../assets/img/index-banner-s.jpg"  data-large="../../assets/img/bannerIND.jpg" 
            style="background:url(../../assets/img/bannerIND01.jpg) no-repeat center center; background-size:cover;" ><!--大圖 長寬1920x1200--><!--小圖 長寬640x900-->
            <article class="indexTit">
            	<div class="inner">
                    <h1>PRODUCT ‘S<br>SLOGAN</h1>
                    <hr>
                    <p>Koyote male designers, itself Aboriginal artists, for three consecutive years was elected Aboriginal Cultural Park..</p>
                </div>
            </article>	
        </div>
        <div class="xsBGshow" data-small="../../assets/img/index-banner-s.jpg"  data-large="../../assets/img/bannerIND.jpg" 
            style="background:url(../../assets/img/bannerIND01.jpg) no-repeat center center; background-size:cover;" ><!--大圖 長寬1920x1200--><!--小圖 長寬640x900-->
            <article class="indexTit">
            	<div class="inner">
                    <h1>PRODUCT ‘S<br>SLOGAN</h1>
                    <hr>
                    <p>Koyote male designers, itself Aboriginal artists, for three consecutive years was elected Aboriginal Cultural Park..</p>
                </div>
            </article>	
        </div>
        <div class="xsBGshow" data-small="../../assets/img/index-banner-s.jpg"  data-large="../../assets/img/bannerIND.jpg" 
            style="background:url(../../assets/img/bannerIND01.jpg) no-repeat center center; background-size:cover;" ><!--大圖 長寬1920x1200--><!--小圖 長寬640x900-->
            <article class="indexTit">
            	<div class="inner">
                    <h1>PRODUCT ‘S<br>SLOGAN</h1>
                    <hr>
                    <p>Koyote male designers, itself Aboriginal artists, for three consecutive years was elected Aboriginal Cultural Park..</p>
                </div>
            </article>	
        </div>
    </div>
</div>



<section class="original">
	<div class="inner">
        <div class="txt">
            <h2>Original Art<br>Products</h2>
            <p>高耀男設計師，本身為原住民藝術工作者，連續3年獲選原住民文化園區的駐村藝術家，榮獲「第三屆原住民族工藝師甄選及工藝精品認證」、「第四屆原住民藝術工作者藝術類駐村藝術家」</p>
        </div>
        <div class="img"><img src="../../assets/img/logo01.png" /></div>
    </div>
</section>

<section class="newSide">
	<div class="inner">
        <h3>New Collection</h3>
        <ul class="menuBar">
            <li class="on"><a href="javascript: void(0)">所有新品</a></li>
            <li ><a href="javascript: void(0)"  >鞋子</a></li>
            <li><a href="javascript: void(0)">包包</a></li>
            <li><a href="javascript: void(0)">抱枕</a></li>
            <li><a href="javascript: void(0)">運動毛巾</a></li>
            <li><a href="javascript: void(0)">手機殼</a></li>
            <li><a href="javascript: void(0)">更多商品</a></li>
        </ul>
        <div class="dropdownBox">
            <select class="dropdown">
                <option value="1">所有新品</option>
                <option value="2">鞋子</option>
                <option value="3">包包</option>
                <option value="4">抱枕</option>
                <option value="4">運動毛巾</option>
                <option value="4">手機殼</option>
                <option value="4">更多商品</option>
            </select>
        </div>
        <ul class="productList">
        	<li>
            	<div class="inner">
                    <div class="img"><a href="../collection/detail.html"><img src="../../uploads/pro01.jpg" /></a></div><!--圖檔大小230x285-->
                    <div class="txt">
                        <h5><a href="../collection/detail.html">阿美族枕 Product Name</a></h5>
                        <p><a href="../collection/detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                        <a href="../collection/detail.html">+</a>
                    </div>
                </div>
            </li>
            <li>
            	<div class="inner">
                    <div class="img"><a href="../collection/detail.html"><img src="../../uploads/pro02.jpg" /></a></div><!--圖檔大小230x285-->
                    <div class="txt">
                        <h5><a href="../collection/detail.html">阿美族枕 Product Name</a></h5>
                        <p><a href="../collection/detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                        <a href="../collection/detail.html">+</a>
                    </div>
                </div>
            </li>
            <li>
            	<div class="inner">
                    <div class="img"><a href="../collection/detail.html"><img src="../../uploads/pro03.jpg" /></a></div><!--圖檔大小230x285-->
                    <div class="txt">
                        <h5><a href="../collection/detail.html">阿美族枕 Product Name</a></h5>
                        <p><a href="../collection/detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                        <a href="../collection/detail.html">+</a>
                    </div>
                </div>
            </li>
            
            <li>
            	<div class="inner">
                    <div class="img"><a href="../collection/detail.html"><img src="../../uploads/pro04.jpg" /></a></div><!--圖檔大小230x285-->
                    <div class="txt">
                        <h5><a href="../collection/detail.html">阿美族枕 Product Name</a></h5>
                        <p><a href="../collection/detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                        <a href="../collection/detail.html">+</a>
                    </div>
                </div>
            </li>
            <li>
            	<div class="inner">
                    <div class="img"><a href="../collection/detail.html"><img src="../../uploads/pro01.jpg" /></a></div><!--圖檔大小230x285-->
                    <div class="txt">
                        <h5><a href="../collection/detail.html">阿美族枕 Product Name</a></h5>
                        <p><a href="../collection/detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                        <a href="../collection/detail.html">+</a>
                    </div>
                </div>
            </li>
            <li>
            	<div class="inner">
                    <div class="img"><a href="../collection/detail.html"><img src="../../uploads/pro02.jpg" /></a></div><!--圖檔大小230x285-->
                    <div class="txt">
                        <h5><a href="../collection/detail.html">阿美族枕 Product Name</a></h5>
                        <p><a href="../collection/detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                        <a href="../collection/detail.html">+</a>
                    </div>
                </div>
            </li>
            <li>
            	<div class="inner">
                    <div class="img"><a href="../collection/detail.html"><img src="../../uploads/pro03.jpg" /></a></div><!--圖檔大小230x285-->
                    <div class="txt">
                        <h5><a href="../collection/detail.html">阿美族枕 Product Name</a></h5>
                        <p><a href="../collection/detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                        <a href="../collection/detail.html">+</a>
                    </div>
                </div>
            </li>
            <li>
            	<div class="inner">
                    <div class="img"><a href="../collection/detail.html"><img src="../../uploads/pro04.jpg" /></a></div>
                    <div class="txt">
                        <h5><a href="../collection/detail.html">阿美族枕 Product Name</a></h5>
                        <p><a href="../collection/detail.html">菱形紋代表著原民精神:一種對於生活的堅持、韌性、努力</a></p>
                        <a href="../collection/detail.html">+</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <a href="javascript: void(0)" class="aaloadMore"><i></i>載入更多商品 load more data</a>
</section>
<footer >
	<div class="inner">
        <div class="left">© MR. NAN. ALL RIGHTS RESERVED. DESIGNED BY WDD</div>
        <div class="right">
            <a href="contact.html">CONTACT US</a>
            <a href="policy.html">LEGAL POLICY</a>
        </div>
	</div>
</footer>


<div class="menu-phone">
	<div class="logo-s"><a href="index.html"><img src="../../assets/img/logo01.png"></a></div>
	<ul>
    	<li><a href="../collection/index.html">Collection</a></li>
        <li><a href="../news/index.html">Hot News</a></li>
        <li><a href="about.html">Mr.Nan</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    <a href="javascript:void(0)" class="closeX-s"><img src="../../assets/img/X.svg" /></a>
</div>


<!--主要的jQuery-->
<script src="../../assets/js/vendor/jquery-1.11.3.min.js"></script>
<!--slick輪播-->
<script src="../../assets/js/vendor/slick/slick.js"></script>
<!--waypoints-->
<script src="../../assets/js/vendor/waypoints.min.js"></script>
<!--easydropdown 下拉選單-->
<script src="../../assets/js/vendor/jquery.easydropdown.min.js"></script>
<!--main-->
<script src="../../assets/js/main.js" /></script>
</body>
</html>
