<!DOCTYPE HTML>
<html>
<head>
	<title>南設計</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <!--slick輪播-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css" />
    <!--easydropdown 下拉選單-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/easydropdown.css">
    <!--Style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
</head>

<body>
<section class="newsDetail">
	<a href="../../index.html" class="aacloseX">close</a>
    <a href="javascript:void(0)" class="newsPrev"><span>←</span><span>PREV</span></a>
    <a href="javascript:void(0)" class="newsNext"><span>NEXT</span><span>→</span></a>
    
    <div class="newsDate MT55">
        <div class="left"><span>10月</span><span>2015</span></div>
        <div class="right">15</div>
    </div>
    <h6>高耀男設計師，本身為原住民藝術工作者，連續3年獲選原住民文化園區的駐村藝術家</h6>
    <hr>
    <div class="content">
    	<img src="../../uploads/news-pic.jpg" />
        <br>
        <br>
        <br>
        <p>高耀男設計師，本身的創作魅力已擁有固定的消費粉絲與擁護者，高耀男來自原藝世家，其母親曾春子是擅長絹印的工藝師，承自母親對於原住民傳統圖騰的熱愛，他將各族群的圖騰加以變化，利用電腦重新排版、設計，並這些圖形授權廠商，製作出iphone手機殼、音箱蓋，成為富有族群色彩又別具創意的流行潮牌商品。</p>
        <br>
        <br>
        <p>高耀男設計師，本身為原住民藝術工作者，連續3年獲選原住民文化園區的駐村藝術家，榮獲「第三屆原住民族工藝師甄選及工藝精品認證」、「第四屆原住民藝術工作者藝術類駐村藝術家」。</p>
        <br>
        <br>
        <p>高耀男設計師，本身為原住民藝術工作者，連續3年獲選原住民文化園區的駐村藝術家，榮獲「第三屆原住民族工藝師甄選及工藝精品認證」、「第四屆原住民藝術工作者藝術類駐村藝術家」。</p>
    </div>
</section>

<!--主要的jQuery-->
<script src="../../assets/js/vendor/jquery-1.11.3.min.js"></script>
<!--slick輪播-->
<script src="../../assets/js/vendor/slick/slick.js"></script>
<!--waypoints-->
<script src="../../assets/js/vendor/waypoints.min.js"></script>
<!--easydropdown 下拉選單-->
<script src="../../assets/js/vendor/jquery.easydropdown.min.js"></script>
<!--main-->
<script src="../../assets/js/main.js" /></script>
</body>
</html>
