<!DOCTYPE HTML>
<html>
<head>
	<title>南設計</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <!--slick輪播-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css" />
    <!--easydropdown 下拉選單-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/easydropdown.css">
    <!--Style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
</head>

<body>
<a href="#top" class="aaGoTop">←&nbsp;&nbsp;PAGE TOP</a>
<div class="wrapper " >
	<div class="innerIND">
    	<header class="menu-small">
            <div class="logo"><a href="../../index.html" /><img src="../../assets/img/logo01.png" /></a></div>
            <div class="car">
            	<a href="../home/contact.html">
                    <span>08</span>
                    <span>CART</span>
                </a>
            </div>
            <div class="menuBtn" id="menuBtn">
            	<a href="javascript: void(0)">
                	<span></span>
                    <span></span>
                    <span></span>
                </a>
                <span>MENU</span>
            </div>
            <div class="menuBtn01" id="menuBtn-s">
            	<a href="javascript: void(0)">
                	<span></span>
                    <span></span>
                    <span></span>
                </a>
                <span>MENU</span>
            </div>
        </header>
        <header class="menu">
            <div class="logo"><a href="../home/index.html" /><img src="../../assets/img/logo.png" /></a></div>
            <div class="menuList">
                <a href="../collection/index.html">Collection</a>
                <a href="index.html">Hot News</a>
                <a href="../home/about.html">Mr.Nan</a>
                <a href="../home/contact.html">Contact</a>
            </div>
            <div class="car">
            	<a href="../home/contact.html">
                    <span>08</span>
                    <span>CART</span>
                </a>
            </div>
            <div class="socialLink">
                <a href="javascript: void(0)"><img src="../../assets/img/icon-FB.png"></a>
                <a href="javascript: void(0)"><img src="../../assets/img/icon-twitter.png"></a>
            </div>
        </header>
        
	</div>
    
    <div class="newsBanner">
        <div class="tit">
            <h1>VIEW MY<br>MESSAGES</h1>
            <hr>
            <p>Nature is my master,Nature obtain abundant inspiration.Learn about the latest information</p>
        </div>
	</div>  
</div><!--wrapper-->

<section class="newsSide">
	<div class="inner">
        <div class="yearBtn">
            <a href="javascript: void(0)" class="on">2015</a>
            <a href="javascript: void(0)">2014</a>
            <a href="javascript: void(0)">2013</a>
        </div>
        
        <ul class="newsLine">
            <li>
                <div class="img"><a href="detail.html"><img src="../../uploads/news01.jpg" /></a></div><!--圖檔長寬385x255-->
                <div class="txt">
                	<div class="newsDate">
                    	<div class="left"><span>10月</span><span>2015</span></div>
                        <div class="right">15</div>
                    </div>
                    <h6><a href="detail.html">在自然環境中成長的高耀男原民設計師自幼</a></h6>
                    <p><a href="detail.html">就在原創原民圖騰和創意商品逐漸被市場接受時多年前的山中美景卻時刻在提醒著他</a></p>
                    <a href="detail.html" class="link"><i>+</i>了解更多<span>LEARN MORE</span></a>
                </div>
            </li>
            <li>
                <div class="img"><a href="detail.html"><img src="../../uploads/news02.jpg" /></a></div><!--圖檔長寬385x255-->
                <div class="txt">
                	<div class="newsDate">
                    	<div class="left"><span>10月</span><span>2015</span></div>
                        <div class="right">02</div>
                    </div>
                    <h6><a href="detail.html">在自然環境中成長的高耀男原民設計師自幼</a></h6>
                    <p><a href="detail.html">就在原創原民圖騰和創意商品逐漸被市場接受時多年前的山中美景卻時刻在提醒著他</a></p>
                    <a href="detail.html" class="link"><i>+</i>了解更多<span>LEARN MORE</span></a>
                </div>
            </li>
            <li>
                <div class="img"><a href="detail.html"><img src="../../uploads/news03.jpg" /></a></div><!--圖檔長寬385x255-->
                <div class="txt">
                	<div class="newsDate">
                    	<div class="left"><span>10月</span><span>2015</span></div>
                        <div class="right">31</div>
                    </div>
                    <h6><a href="detail.html">在自然環境中成長的高耀男原民設計師自幼</a></h6>
                    <p><a href="detail.html">就在原創原民圖騰和創意商品逐漸被市場接受時多年前的山中美景卻時刻在提醒著他</a></p>
                    <a href="detail.html" class="link"><i>+</i>了解更多<span>LEARN MORE</span></a>
                </div>
            </li>
            <li>
                <div class="img"><a href="detail.html"><img src="../../uploads/news04.jpg" /></a></div><!--圖檔長寬385x255-->
                <div class="txt">
                	<div class="newsDate">
                    	<div class="left"><span>10月</span><span>2015</span></div>
                        <div class="right">15</div>
                    </div>
                    <h6><a href="detail.html">在自然環境中成長的高耀男原民設計師自幼</a></h6>
                    <p><a href="detail.html">就在原創原民圖騰和創意商品逐漸被市場接受時多年前的山中美景卻時刻在提醒著他</a></p>
                    <a href="detail.html" class="link"><i>+</i>了解更多<span>LEARN MORE</span></a>
                </div>
            </li>
            <li>
                <div class="img"><a href="detail.html"><img src="../../uploads/news05.jpg" /></a></div><!--圖檔長寬385x255-->
                <div class="txt">
                	<div class="newsDate">
                    	<div class="left"><span>10月</span><span>2015</span></div>
                        <div class="right">15</div>
                    </div>
                    <h6><a href="detail.html">在自然環境中成長的高耀男原民設計師自幼</a></h6>
                    <p><a href="detail.html">就在原創原民圖騰和創意商品逐漸被市場接受時多年前的山中美景卻時刻在提醒著他</a></p>
                    <a href="detail.html" class="link"><i>+</i>了解更多<span>LEARN MORE</span></a>
                </div>
            </li>
            <li>
                <div class="img"><a href="detail.html"><img src="../../uploads/news01.jpg" /></a></div><!--圖檔長寬385x255-->
                <div class="txt">
                	<div class="newsDate">
                    	<div class="left"><span>10月</span><span>2015</span></div>
                        <div class="right">15</div>
                    </div>
                    <h6><a href="detail.html">在自然環境中成長的高耀男原民設計師自幼</a></h6>
                    <p><a href="detail.html">就在原創原民圖騰和創意商品逐漸被市場接受時多年前的山中美景卻時刻在提醒著他</a></p>
                    <a href="detail.html" class="link"><i>+</i>了解更多<span>LEARN MORE</span></a>
                </div>
            </li>
        </ul>
    </div>
</section>

<footer >
	<div class="inner">
        <div class="left">© MR. NAN. ALL RIGHTS RESERVED. DESIGNED BY WDD</div>
        <div class="right">
            <a href="../home/contact.html">CONTACT US</a>
            <a href="../home/policy.html">LEGAL POLICY</a>
        </div>
	</div>
</footer>


<div class="menu-phone">
	<div class="logo-s"><a href="../home/index.html"><img src="../../assets/img/logo01.png"></a></div>
	<ul>
    	<li><a href="../collection/index.html">Collection</a></li>
        <li><a href="index.html">Hot News</a></li>
        <li><a href="../home/about.html">Mr.Nan</a></li>
        <li><a href="../home/contact.html">Contact</a></li>
    </ul>
    <a href="javascript:void(0)" class="closeX-s"><img src="../../assets/img/X.svg" /></a>
</div>


<!--主要的jQuery-->
<script src="../../assets/js/vendor/jquery-1.11.3.min.js"></script>
<!--slick輪播-->
<script src="../../assets/js/vendor/slick/slick.js"></script>
<!--waypoints-->
<script src="../../assets/js/vendor/waypoints.min.js"></script>
<!--easydropdown 下拉選單-->
<script src="../../assets/js/vendor/jquery.easydropdown.min.js"></script>
<!--main-->
<script src="../../assets/js/main.js" /></script>
</body>
</html>
